@charset "UTF-8";

@font-face {
  font-family: "mapstore2";
  src:url("../fonts/mapstore2.eot");
  src:url("../fonts/mapstore2.eot?#iefix") format("embedded-opentype"),
    url("../fonts/mapstore2.woff") format("woff"),
    url("../fonts/mapstore2.ttf") format("truetype"),
    url("../fonts/mapstore2.svg#mapstore2") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "mapstore2" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="glyphicon-"]:before,
[class*=" glyphicon-"]:before {
  font-family: "mapstore2" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-1-bearing:before {
  content: "\006c";/* cambiato */
}
.glyphicon-1-bring-down:before {
  content: "\006e";/* cambiato */
}
.glyphicon-1-bring-up:before {
  content: "\006d";/* cambiato */
}
.glyphicon-1-close:before {
  content: "\0055"; /* cambiato */
}
.glyphicon-1-compass:before {
  content: "\005c"; /* cambiato */
}

.glyphicon-1-compass-alt:before {
  content: "\005b"; /* cambiato */
}

.glyphicon-1-drag:before {
  content: "\0070";  /* cambiato */
}
.glyphicon-1-group:before {
  content: "\0045"; /* cambiato */
}
.glyphicon-1-group-add:before {
  content: "\0047";/* cambiato */
}
.glyphicon-1-group-cancel:before {
  content: "\0048";/* cambiato */
}
.glyphicon-1-group-mod:before {
  content: "\0046";/* cambiato */
}
.glyphicon-1-layer:before {
  content: "\004e";/* cambiato */
}
.glyphicon-1-line:before {
  content: "\004f";/* cambiato */
}
.glyphicon-1-map:before {
  content: "\0049"; /* cambiato */
}
.glyphicon-1-mark:before {
  content: "\0050";/* cambiato */
}
.glyphicon-1-mark-alt:before {
  content: "\0051"; /* cambiato */
}
.glyphicon-1-measure-area:before {
  content: "\0071"; /* cambiato */
}
.glyphicon-1-measure-lenght:before {
  content: "\0072"; /* cambiato */
}
.glyphicon-1-measure-path:before {
  content: "\0073"; /* cambiato */
}
.glyphicon-menu-hamburger:before {
  content: "\0052"; /* cambiato */
}
.glyphicon-1-menu-manage:before {
  content: "\0053";/* cambiato */
}
.glyphicon-option-horizontal:before {
  content: "\e234";/* cambiato */
}
.glyphicon-1-pdf:before {
  content: "\004a";/* cambiato */
}
.glyphicon-1-point:before {
  content: "\0074";/* cambiato */
}
.glyphicon-1-poligon:before {
  content: "\0075"; /* cambiato */
}
.glyphicon-1-position-1:before {
  content: "\0054"; /* cambiato */
}
.glyphicon-1-history-backward:before {
  content: "\0059"; /* cambiato */
}
.glyphicon-1-history-forward:before {
  content: "\005a";/* cambiato */
}
.glyphicon-1-social-fb:before {
  content: "\0056";/* cambiato */
}
.glyphicon-1-social-tw:before {
  content: "\0057";/* cambiato */
}
.glyphicon-1-stilo:before {
  content: "\0058";/* cambiato */
}
.glyphicon-1-time-user:before {
  content: "\0041"; /* cambiato */
}
.glyphicon-1-user-add:before {
  content: "\0042";/* cambiato */
}
.glyphicon-1-user-cancel:before {
  content: "\0043"; /* cambiato */
}
.glyphicon-1-user-mod:before {
  content: "\0044"; /* cambiato */
}
.glyphicon-1-ruler-alt-2:before {
  content: "\0063"; /* cambiato */
}








.glyphicon-1-ruler:before {
  content: "\005f"; /* cambiato */
}
.glyphicon-1-ruler-alt:before {
  content: "\0060"; /* cambiato */
}
.glyphicon-1-set-squadre:before {
  content: "\0061"; /* cambiato */
}
.glyphicon-1-compass-arrow:before {
  content: "\005d"; /* cambiato */
}
.glyphicon-1-raster:before {
  content: "\005e"; /* cambiato */
}
.glyphicon-1-vector:before {
  content: "\007c"; /* cambiato */
}
.glyphicon-1-vector-alt:before {
  content: "\007d"; /* cambiato */
}
.glyphicon-1-circle:before {
  content: "\0068"; /* cambiato */
}
.glyphicon-1-polygon:before {
  content: "\0069"; /* cambiato */
}
.glyphicon-1-line:before {
  content: "\0067"; /* cambiato */
}
.glyphicon-1-point:before {
  content: "\0076"; /* cambiato */
}
.glyphicon-1-circle-dashed:before {
  content: "\0065"; /* cambiato */
}
.glyphicon-1-polygon-dashed:before {
  content: "\0066"; /* cambiato */
}
.glyphicon-1-line-dashed:before {
  content: "\006b"; /* cambiato */
}
.glyphicon-1-point-dashed:before {
  content: "\007b"; /* cambiato */
}
.glyphicon-1-circle-add:before {
  content: "\0077"; /* cambiato */
}
.glyphicon-1-polygon-add:before {
  content: "\0078"; /* cambiato */
}
.glyphicon-1-line-add:before {
  content: "\0079"; /* cambiato */
}
.glyphicon-1-point-add:before {
  content: "\007a"; /* cambiato */
}






































.glyphicon-align-center:before {
  content: "\e053"; /* cambiato */
}
.glyphicon-align-justify:before {
  content: "\e055"; /* cambiato */
}
.glyphicon-align-left:before {
  content: "\e052"; /* cambiato */
}
.glyphicon-align-right:before {
  content: "\e054";/* cambiato */
}
.glyphicon-asterisk:before {
  content: "\002a"; /* cambiato */
}
.glyphicon-arrow-down:before {
  content: "\e094"; /* cambiato */
}
.glyphicon-arrow-left:before {
  content: "\e091"; /* cambiato */
}
.glyphicon-arrow-right:before {
  content: "\e092"; /* cambiato */
}
.glyphicon-arrow-up:before {
  content: "\e093";  /* cambiato */
}
.glyphicon-backward:before {
  content: "\e071"; /* saltato */
}
.glyphicon-ban-circle:before {
  content: "\e090"; /* cambiato */
}
.glyphicon-barcode:before {
  content: "\e040";/* cambiato */
}
.glyphicon-bold:before {
  content: "\e048"; /* cambiato */
}
.glyphicon-camera:before {
  content: "\e046"; /* cambiato */
}
.glyphicon-chevron-down:before {
  content: "\e259";/* cambiato */
}
.glyphicon-chevron-left:before {
  content: "\e257";/* cambiato */
}
.glyphicon-chevron-right:before {
  content: "\e258";/* cambiato */
}
.glyphicon-chevron-up:before {
  content: "\e260";/* cambiato */
}
.glyphicon-circle-arrow-down:before {
  content: "\e134";/* cambiato */
}
.glyphicon-circle-arrow-left:before {
  content: "\e132";/* cambiato */
}
.glyphicon-circle-arrow-right:before {
  content: "\e131";/* cambiato */
}
.glyphicon-circle-arrow-up:before {
  content: "\e133";/* cambiato */
}
.glyphicon-cloud:before {
  content: "\2601";/* cambiato */
}
.glyphicon-cloud-download:before {
  content: "\e197";/* cambiato */
}
.glyphicon-cloud-upload:before {
  content: "\e198";/* cambiato */
}
.glyphicon-cog:before {
  content: "\e019";/* cambiato */
}
.glyphicon-collapse-down:before {
  content: "\e159";/* cambiato */
}
.glyphicon-collapse-up:before {
  content: "\e160";/* cambiato */
}
.glyphicon-comment:before {
  content: "\e111";/* cambiato */
}
.glyphicon-dashboard:before {
  content: "\e141";/* cambiato */
}
.glyphicon-download:before {
  content: "\e026";/* cambiato */
}
.glyphicon-download-alt:before {
  content: "\e166"; /* cambiato */
}
.glyphicon-edit:before {
  content: "\e065"; /* cambiato */
}
.glyphicon-envelope:before {
  content: "\2709";/* cambiato */
}
.glyphicon-export:before {
  content: "\e170"; /* cambiato */
}
.glyphicon-fast-backward:before {
  content: "\e070"; /* cambiato */
}
.glyphicon-fast-forward:before {
  content: "\e076"; /* cambiato */
}
.glyphicon-file:before {
  content: "\e022"; /* cambiato */
}
.glyphicon-filter:before {
  content: "\e138";/* cambiato */
}
.glyphicon-flag:before {
  content: "\e034";/* cambiato */
}
.glyphicon-flash:before {
  content: "\e162"; /* cambiato */
}
.glyphicon-floppy-open:before {
  content: "\e176"; /* cambiato */
}
.glyphicon-floppy-remove:before {
  content: "\e174";/* cambiato */
}
.glyphicon-floppy-save:before {
  content: "\e175";/* cambiato */
}
.glyphicon-floppy-saved:before {
  content: "\e173";/* cambiato */
}
.glyphicon-font:before {
  content: "\e047"; /* cambiato */
}
.glyphicon-forward:before {
  content: "\e075";/* saltato */
}
.glyphicon-fullscreen:before {
  content: "\e140"; /* cambiato */
}
.glyphicon-globe:before {
  content: "\e135"; /* cambiato */
}
.glyphicon-hand-down:before {
  content: "\e130"; /* cambiato */
}
.glyphicon-hand-left:before {
  content: "\e128";/* cambiato */
}
.glyphicon-hand-right:before {
  content: "\e127";/* cambiato */
}
.glyphicon-hand-up:before {
  content: "\e129";/* cambiato */
}
.glyphicon-hdd:before {
  content: "\e121";/* cambiato */
}
.glyphicon-heart:before {
  content: "\e005";/* cambiato */
}
.glyphicon-home:before {
  content: "\e021";/* cambiato */
}
.glyphicon-import:before {
  content: "\e169";/* cambiato */
}
.glyphicon-inbox:before {
  content: "\e028";/* cambiato */
}
.glyphicon-info-sign:before {
  content: "\e086";/* cambiato */
}
.glyphicon-italic:before {
  content: "\e049";/* cambiato */
}
.glyphicon-leaf:before {
  content: "\e103"; /* cambiato */
}
.glyphicon-link:before {
  content: "\e144"; /* cambiato */
}
.glyphicon-list:before {
  content: "\e012";/* cambiato */
}
.glyphicon-log-in:before {
  content: "\e161";/* cambiato */
}
.glyphicon-log-out:before {
  content: "\e163";/* cambiato */
}
.glyphicon-magnet:before {
  content: "\e112";/* cambiato */
}
.glyphicon-map-marker:before {
  content: "\e062"; /* cambiato */
}
.glyphicon-minus:before {
  content: "\2212";/* cambiato */
}
.glyphicon-minus-sign:before {
  content: "\e082";/* cambiato */
}
.glyphicon-move:before {
  content: "\e068";/* cambiato */
}
.glyphicon-new-window:before {
  content: "\e164";/* cambiato */
}
.glyphicon-off:before {
  content: "\e017";/* cambiato */
}
.glyphicon-ok:before {
  content: "\e013";/* cambiato */
}
.glyphicon-ok-circle:before {
  content: "\e089";/* cambiato */
}
.glyphicon-ok-sign:before {
  content: "\e084";/* cambiato */
}
.glyphicon-open:before {
  content: "\e167";/* cambiato */
}
.glyphicon-paperclip:before {
  content: "\e142";/* cambiato */
}
.glyphicon-pause:before {
  content: "\e073";/* cambiato */
}
.glyphicon-pencil:before {
  content: "\270f";/* cambiato */
}
.glyphicon-phone:before {
  content: "\e145";/* cambiato */
}
.glyphicon-picture:before {
  content: "\e060"; /* cambiato */
}
.glyphicon-plane:before {
  content: "\e171";/* saltato */
}
.glyphicon-play:before {
  content: "\e072";/* cambiato */
}
.glyphicon-play-circle:before {
  content: "\e029";/* cambiato */
}
.glyphicon-plus:before {
  content: "\002b";/* cambiato */
}
.glyphicon-plus-sign:before {
  content: "\e081"; /* cambiato */
}
.glyphicon-print:before {
  content: "\e045";/* cambiato */
}
.glyphicon-pushpin:before {
  content: "\e146";/* cambiato */
}
.glyphicon-qrcode:before {
  content: "\e039";/* cambiato */
}
.glyphicon-question-sign:before {
  content: "\e085";/* cambiato */
}
.glyphicon-random:before {
  content: "\e110";/* cambiato */
}
.glyphicon-record:before {
  content: "\e165";/* cambiato */
}
.glyphicon-refresh:before {
  content: "\e031";/* cambiato */
}
.glyphicon-remove:before {
  content: "\e014";/* cambiato */
}
.glyphicon-remove-circle:before {
  content: "\e088";/* cambiato */
}
.glyphicon-remove-sign:before {
  content: "\e083";/* cambiato */
}
.glyphicon-repeat:before {
  content: "\e030";/* cambiato */
}
.glyphicon-resize-full:before {
  content: "\e096"; /* cambiato */
}
.glyphicon-resize-horizontal:before {
  content: "\e120"; /* cambiato */
}
.glyphicon-resize-small:before {
  content: "\e097";/* cambiato */
}
.glyphicon-resize-vertical:before {
  content: "\e119";/* cambiato */
}
.glyphicon-retweet:before {
  content: "\e115";/* cambiato */
}
.glyphicon-road:before {
  content: "\e024";/* cambiato */
}
.glyphicon-save:before {
  content: "\e166"; /* cambiato */
}
.glyphicon-screenshot:before {
  content: "\e087"; /* cambiato */
}
.glyphicon-search:before {
  content: "\e003";/* cambiato */
}
.glyphicon-send:before {
  content: "\e171"; /* cambiato */
}
.glyphicon-share:before {
  content: "\004c";/* cambiato */
}
.glyphicon-share-alt:before {
  content: "\004b";/* cambiato */
}
.glyphicon-shopping-cart:before {
  content: "\e116";/* cambiato */
}
.glyphicon-signal:before {
  content: "\e018";/* cambiato */
}
.glyphicon-sort:before {
  content: "\e150";/* cambiato */
}
.glyphicon-sort-by-alphabet:before {
  content: "\e151";/* cambiato */
}
.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152"; /* cambiato */
}
.glyphicon-sort-by-attributes:before {
  content: "\e155";/* cambiato */
}
.glyphicon-sort-by-attributes-alt:before {
  content: "\e156";/* cambiato */
}
.glyphicon-star:before {
  content: "\e006";/* cambiato */
}
.glyphicon-star-empty:before {
  content: "\e007";/* cambiato */
}
.glyphicon-stats:before {
  content: "\e185";/* cambiato */
}
.glyphicon-step-backward:before {
  content: "\e069";/* cambiato */
}
.glyphicon-step-forward:before {
  content: "\e077"; /* cambiato */
}
.glyphicon-stop:before {
  content: "\e074"; /* cambiato */
}
.glyphicon-tag:before {
  content: "\e041";/* cambiato */
}
.glyphicon-tags:before {
  content: "\e042"; /* cambiato */
}
.glyphicon-tasks:before {
  content: "\e137";/* saltato */
}
.glyphicon-text-height:before {
  content: "\e050"; /* cambiato */
}
.glyphicon-text-width:before {
  content: "\e051";/* cambiato */
}
.glyphicon-th-list:before {
  content: "\e012";/* cambiato */
}
.glyphicon-thumbs-down:before {
  content: "\e126"; /* cambiato */
}
.glyphicon-thumbs-up:before {
  content: "\e125"; /* cambiato */
}
.glyphicon-time:before {
  content: "\e023";/* cambiato */
}
.glyphicon-tint:before {
  content: "\e064";/* cambiato */
}
.glyphicon-transfer:before {
  content: "\e178"; /* cambiato */
}
.glyphicon-unchecked:before {
  content: "\e157"; /* cambiato */
}
.glyphicon-upload:before {
  content: "\e027"; /* cambiato */
}
.glyphicon-usd:before {
  content: "\e148"; /* cambiato */
}
.glyphicon-user:before {
  content: "\e008"; /* cambiato */
}
.glyphicon-warning-sign:before {
  content: "\e107"; /* saltato */
}
.glyphicon-wrench:before {
  content: "\e136"; /* cambiato */
}
.glyphicon-zoom-in:before {
  content: "\e015";/* cambiato */
}
.glyphicon-zoom-out:before {
  content: "\e016";/* cambiato */
}
.glyphicon-trash:before {
  content: "\e020"; /* cambiato */
}
.glyphicon-saved:before {
  content: "\e168"; /* cambiato */
}
.glyphicon-1-catalog:before {
  content: "\006a"; /* cambiato */
}
.glyphicon-exclamation-sign:before {
  content: "\e101"; /* cambiato */
}
.glyphicon-expand:before {
  content: "\e158"; /* cambiato */
}
.glyphicon-lock:before {
  content: "\e033"; /* cambiato */
}
.glyphicon-list-alt:before {
  content: "\e032"; /* cambiato */
}
.glyphicon-check:before {
  content: "\e067";/* cambiato */
}
.glyphicon-floppy-disk:before {
  content: "\e172";/* cambiato */
}
.glyphicon-1-max-size:before {
  content: "\004d"; /* cambiato */
}
.glyphicon-adjust:before {
  content: "\e063"; /* cambiato */
}
.glyphicon-calendar:before {
  content: "\e109"; /* cambiato */
}
.glyphicon-folder-close:before {
  content: "\e117"; /* cambiato */
}
.glyphicon-folder-open:before {
  content: "\e118";/* cambiato */
}
.glyphicon-text-background:before {
  content: "\e243"; /* cambiato */
}
.glyphicon-scissors:before {
  content: "\e226"; /* cambiato */
}

.glyphicon-text-colour:before {
  content: "\e242"; /* cambiato */
}

.glyphicon-paste:before {
  content: "\e206";  /* cambiato */
}
.glyphicon-level-up:before {
  content: "\e204"; /* cambiato */
}
.glyphicon-hourglass:before {
  content: "\e231b";/* cambiato */
}
.glyphicon-duplicate:before {
  content: "\e224"; /* cambiato */
}
.glyphicon-copy:before {
  content: "\e205"; /* cambiato */
}
.glyphicon-compressed:before {
  content: "\e181"; /* cambiato */
}
.glyphicon-bookmark:before {
  content: "\e044"; /* cambiato */
}
.glyphicon-book:before {
  content: "\e043"; /* cambiato */
}
.glyphicon-alert:before {
  content: "\e209"; /* saltato */
}

.glyphicon-th:before {
  content: "\e011"; /* saltato */
}
.glyphicon-th-large:before {
  content: "\e010"; /* saltato */
}
.glyphicon-eye-open:before {
  content: "\e105"; /* saltato */
}
.glyphicon-eye-close:before {
  content: "\e106";/* saltato */
}